@import "tailwindcss";

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-33.33%);
  }
}

.animate-scroll {
  display: flex;
  gap: 2rem;
  min-width: max-content;
  animation: scroll 10s linear infinite;
}